body{
  background: linear-gradient(45deg, #A888E7 10%, #8136CF 50%, #DC7A2E 100%);
}
.container{
  max-width: 1280px;
  margin: auto;
  height: 100vh;
  /* background: linear-gradient(45deg, #A888E7 10%, #8136CF 50%, #DC7A2E 100%); */
}

