body{
  background: linear-gradient(45deg, #A888E7 10%, #8136CF 50%, #DC7A2E 100%);
}
.App
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

